body{
    background-color: #b91450;
}
h2{
    color: white;
    text-align: center;
}
/* TICKET COUNT */
#ticket-count{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 25px 100px;
}
label{
    color: #b91450;
}
.user-form{
    
}